/bootstrap/compiled.php
/bower_components
/files
/node_modules
/public/assets/uploads/*
!/public/assets/uploads/.gitkeep
tests/codeception/_output/*
tests/codeception/_data/*
!tests/codeception/_data/.gitkeep
/vendor
.DS_Store
.env
.php_cs.cache
composer.phar
Thumbs.db
