/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/files
/bower_components
/node_modules
tests/codeception/_output/*
tests/codeception/_data/*
!tests/codeception/_data/.gitkeep