@import 'base.less';

/* General Layout */
body {
    padding-top: 70px;
}

.page-header {
    margin: 0px 0px 5px 0px;
}

img.avatar {
    border: 1px solid #555;
}

img.nav-avatar {
    float: left;
    position: relative;
    top: -6px;
    left: -8px;
}

.vote-stats {
    padding-top: 20px; // @todo: fix this...
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .manage-buttons {
        a, button {
            width: 100%;
            display: block;
            margin-bottom: 5px;
        }
    }

}